<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Quadratische Funktionen</string>
	<key>Pages</key>
	<array>
		<string>Einleitung quadratische Funktionen.playgroundpage</string>
		<string>Zweite Seite.playgroundpage</string>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
